body{
    font-family: 'Vollkorn', serif;
}
h2{
    padding: 5% 0;
    font-size: 3rem;
    text-align: center;
    text-shadow: 4px 0 #f4a9a8;
}
/*---------Heading------------*/
#header{
    background-color: #ba135d;
    padding: 1.5% 8% 7%;
}
.big-heading{
    font-size: 3rem;
    font-weight:bolder;
    line-height:1.5;
    text-align: center;
    padding-top: 30%;
    color: white;
    text-shadow: 3px 0 #480032;
}
.my-photo{
    width: 68%;
    margin:auto;
    height: auto;
    display: block;
    border:2px solid #480032;
    border-radius: 6px;
}
/*----------Navigation bar-------*/
.navbar{
    padding: 0 4% 1%;
}
.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-link{
    font-size: 1.8rem;
}
/*-----------Portfolio-------------*/
#portfolio{
    text-align: center;
    width: 100%;
}
.portfolio-image{
    width: 50%;
}
.portfolio-text{
    padding: 2%;
    font-size: 2.5rem;
    text-shadow: 4px 0 #9e858c;
}
/*-------------Skill---------------*/
#skillset{
    padding: 5% 10%;
    text-align: center;
    background-color:#ce97b0;
}
#skillset img{
    width: 60%;
    border-radius: 100px;
    background-color: white;
    padding: 4%;
    margin:5%;
}
.java{
    border:8px solid #e40017;
}
.html{
    border:8px solid #fb9300;
}
.css{
    border:8px solid blue;
}
.js{
    border:8px solid #ffcc29;
}
/*----------------Contact---------------*/
#contact{
    padding-top: 7rem;
    padding-bottom: 7rem;
    text-align: center;
    font-size: 30px;
}
.contact-group{
    margin-bottom: 15px;
    text-shadow: 2px 0 #f4a9a8;
}
.form-input{
    padding: 5px;
}
.contact-group label{
    margin-right: 15px;
}
.button-ct button{
    background-color: #f4a9a8;
}
/*------------Footer------------->*/
footer{
    font-size: 30px;
    text-align: center;
    padding: 30px;
    margin-bottom: 100px;
}
footer a{
    padding: 10px;
    background-color: #f4a9a8;
    color: white;
    border-radius: 100%;
    margin: 5px;
}

