//overwrite them variables

//quick test
$primary: rgb(18, 14, 38);
$secondary: rgb(6, 147, 227);
$success: #8892b0;

$font-sizes: (
  0: 11px,
  1: 75px,
  2: 40px,
  5: 18px,
  6: 20px,
);

.text-font-family-navbar {
  font-family: 'Montserrat', sans-serif;
}

.text-font-family-main {
  font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system,
    system-ui, sans-serif;
}

.center-aboutMe {
  margin: 0 auto;
}

.margin-top-aboutMe {
  margin-top: 200px;
}

.hide {
  transform: translate(-100%, 0);
}
.show {
  z-index: 10;
  transition: transform 0.3s ease;
  position: absolute;
  width: 100%;
  top: 60px;
}
@media (min-width: 992px) {
  .hideBars {
    opacity: 0;
  }
  .wrapper {
    max-height: 120px;
    display: flex;
    overflow-x: auto;
  }

  .item {
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
  }
}
// .navbar-collapse {
//   // display: flex !important; // stylelint-disable-line declaration-no-important
//   flex-basis: 70%;
//   flex-grow: 1;
//   align-items: center;
// }

// $text-font-family: 'Montserrat', sans-serif;
@import '../../bootstrap/scss/bootstrap.scss';
