//overwrite them variables
/*html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}*/
body{
  background-color: salmon;
}
//quick test
$primary: rgb(18, 14, 38);
$secondary: rgb(6, 147, 227);
$success: #8892b0;
$info: rgb(26, 19, 54);

$font-sizes: (
  // 0: 20px,
  1: 75px,
  2: clamp(26px, 5vw, 2.2rem),
  3: 28px,
  5: 17px,
  6: 15px // 2: 30px,
  // 5: 18px,
  // 6: 20px,,,
);

.img-built {
  opacity: 0.25;
}
.img-built img {
  width: 250px;
}
.descr {
  position: relative;
  right: 200px;
}
.descr2 {
  z-index: 10;
  position: relative;
  margin-left: 10px;
}
.img-built2 {
  opacity: 0.25;
  position: relative;
  right: 160px;
}
.img-built2 img {
  width: 250px;
}
.main-proje,
.main-proje2 {
  display: flex;
}
@media (min-width: 640px) {
  .title-thing{
    padding-left: 100px;
  }
  .descr {
    position: relative;
    right: 90px;
  }
  .main-proje {
    margin-left: 100px;
  }
  .img-built img,
  .img-built2 img {
    width: 600px;
  }
  .prr {
    width: 90%;
    background-color: rgb(17, 24, 39);
  }
}

.scrollh a:hover {
  background-color: rgb(75, 85, 99);
  opacity: 0.25;
  color: $secondary;
}

.text-font-family-navbar {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
}

.text-font-family-main {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial;
}

.center-aboutMe {
  margin: 0 auto;
}

.margin-top-aboutMe {
  margin-top: 200px;
}

.hide {
  transform: translate(-100%, 0);
}
.show {
  z-index: 10;
  transition: transform 0.3s ease;
  position: absolute;
  width: 100%;
  top: 60px;
}

@media (min-width: 992px) {
  .hideBars {
    opacity: 0;
  }
  .wrapper {
    max-height: 120px;
    display: flex;
    overflow-x: auto;
  }
  .nose-4 {
    width: 350px;
    height: 300px;
  }
}

@media (min-width: 770px) {
  .nose-3 {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    height: 100%;
    position: fixed;
  }
  .link {
    margin-top: 20px;
  }
  .nose--2 {
    writing-mode: vertical-lr;
    position: fixed;
    margin-top: 360px;
  }
}
.nose--2 {
  padding: 0;
}
.nose-3 {
  justify-content: center;
  list-style: none;
}

@media (max-width: 700px) {
  .img_project1 {
    width: 70%;
  }
}

// @media (min-width: 767) {
.img_project1 {
  width: 50%;
}

.items {
  display: flex;
  overflow-x: auto;
}

.nose {
  height: 40px;
  min-width: 120px;
  margin: 5px;
}

.project1 {
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('https://res.cloudinary.com/db3njhxi0/image/upload/v1648778391/project1_ljyr81.png');
  background-position: center top;
  background-repeat: no-repeat;
}

.fontF{
  letter-spacing: 0.4px;
  font-family: 'Preahvihear', sans-serif;
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}


// $text-font-family: 'Montserrat', sans-serif;
@import '../../bootstrap/scss/bootstrap.scss';
