//overwrite them variables

//quick test
$primary: rgb(18, 14, 38);
$secondary: rgb(6, 147, 227);

$font-sizes: (
  1: 75px,
  6: 18px,
);

.text-font-family-navbar {
  font-family: 'Montserrat', sans-serif;
}

.text-font-family-main {
  font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system,
    system-ui, sans-serif;
}

// .navbar-collapse {
//   // display: flex !important; // stylelint-disable-line declaration-no-important
//   flex-basis: 70%;
//   flex-grow: 1;
//   align-items: center;
// }
$flex-grow: 2;
$flex-basis: 70%;
// $text-font-family: 'Montserrat', sans-serif;
@import '../../bootstrap/scss/bootstrap.scss';
