.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.imageContainer {
  height: 50%;
}

.card-absolute {
  position: absolute;
  //margin-top: 50px;
}

/*.card-b {
  margin-top: 30px;
}
.ca {
  margin-top: 50px;
}*/

@media (min-width: 768px) {
  .card-absolute {
    position: static;
  }
  .card-left {
    left: 50px;
  }
  .card-right {
    right: 50px;
  }
}
