.progres {
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 50px;
  text-align: center;
  color: white;
  font-size: 36px;
}
.progressBar {
  height: 10px;
  background-color: white;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 70vh;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.imageContainer {
  height: 50%;
}

.card-absolute {
  position: absolute;
  //margin-top: 50px;
}

.card-b {
  margin-top: 30px;
}
.ca {
  margin-top: 50px;
}

@media (min-width: 768px) {
  .card-absolute {
    position: static;
  }
  .card-left {
    left: 50px;
  }
  .card-right {
    right: 50px;
  }
}
